#custom-search-input {
    background: #e8e6e7 none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
  }
     #custom-search-input .search-query {
     background: #fff none repeat scroll 0 0 !important;
     border-radius: 4px;
     height: 33px;
     margin-bottom: 0;
     padding-left: 7px;
     padding-right: 7px;
     }
     #custom-search-input button {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
     border: 0 none;
     border-radius: 3px;
     color: #666666;
     left: auto;
     margin-bottom: 0;
     margin-top: 7px;
     padding: 2px 5px;
     position: absolute;
     right: 0;
     z-index: 9999;
     }
     .search-query:focus + button {
     z-index: 3;   
     }
     .all_conversation button {
     background: #f5f3f3 none repeat scroll 0 0;
     border: 1px solid #dddddd;
     height: 38px;
     text-align: left;
     width: 100%;
     }
     .all_conversation i {
     background: #e9e7e8 none repeat scroll 0 0;
     border-radius: 100px;
     color: #636363;
     font-size: 17px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     width: 30px;
     }
     .all_conversation .caret {
     bottom: 0;
     margin: auto;
     position: absolute;
     right: 15px;
     top: 0;
     }
     .all_conversation .dropdown-menu {
     background: #f5f3f3 none repeat scroll 0 0;
     border-radius: 0;
     margin-top: 0;
     padding: 0;
     width: 100%;
     }
     .all_conversation ul li {
     border-bottom: 1px solid #dddddd;
     line-height: normal;
     width: 100%;
     }
     .all_conversation ul li a:hover {
     background: #dddddd none repeat scroll 0 0;
     color:#333;
     }
     .all_conversation ul li a {
    color: #333;
    line-height: 30px;
    padding: 3px 20px;
  }
     .member_list .chat-body {
     margin-left: 47px;
     margin-top: 0;
     }
     .top_nav {
     overflow: visible;
     }
     .member_list .contact_sec {
     margin-top: 3px;
     }
     .member_list li {
     padding: 6px;
     }
     .member_list ul {
     border: 1px solid #dddddd;
     }
     .chat-img img {
     height: 34px;
     width: 34px;
     }
     .member_list li {
     border-bottom: 1px solid #dddddd;
     padding: 6px;
     }
     .member_list li:last-child {
     border-bottom:none;
     }
     .member_list {
     height: 380px;
     overflow-x: hidden;
     overflow-y: auto;
     }
     .sub_menu_ {
    background: #e8e6e7 none repeat scroll 0 0;
    left: 100%;
    max-width: 233px;
    position: absolute;
    width: 100%;
  }
  .sub_menu_ {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    margin-left: 0;
    max-width: 233px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .all_conversation ul li:hover .sub_menu_ {
    display: block;
  }
  .new_message_head button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
  }
  .new_message_head {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 10px;
    width: 100%;
  }
  .message_section {
    border: 1px solid #dddddd;
    height: 100vh;
    overflow: hidden;
  }
  .chat_area {
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 65vh;
  }
  .chat_area li {
    padding: 14px 14px 0;
  }
  .chat_area li .chat-img1 img {
    height: 40px;
    width: 40px;
  }
  .chat_area .chat-body1 {
    margin-left: 50px;
  }
  .chat-body1 p {
    background: #fbf9fa none repeat scroll 0 0;
    padding: 10px;
  }
  .chat_area .admin_chat .chat-body1 {
    margin-left: 0;
    margin-right: 50px;
  }
  .active{
  
    background: #a2d0ec;

  }
  .chat-body.clearfix:hover a{
    color: white;
  }
  .message_write {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  .message_write textarea.form-control {
    height: 70px;
    padding: 10px;
  }
  .chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
  }
  .upload_btn {
    color: #777777;
  }
  .sub_menu_ > li a, .sub_menu_ > li {
    float: left;
    width:100%;
  }
  .member_list li:hover {
    background: #428bca none repeat scroll 0 0;
    color: #fff;
    cursor:pointer;
  }
  .chat-join {
       background: #f7f7f7;
    border-radius: 18px;
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 43px;
    padding: 12px;
    margin: 0px 208px;
    margin-bottom: 10px;
    color: #ada4a4;
}

.list-unstyled .messageLI {display: block; width: 100%; clear: both;}

.list-unstyled .nameChat { visibility: hidden; }
.list-unstyled .nameChat:first-letter{  visibility:visible;   background: #9ad5e7; padding: 7px 10px; margin: 0px 0 0 0; font-size: 18px; text-transform: uppercase;  border-radius: 100%;}

.list-unstyled .message p:last-child {

    background: #fbfbfb;
    width: 100%;
    padding: 8px 15px 8px 15px;
    border-radius: 0px 10px 10px 10px;
    box-shadow:0 0 3px #cbcbcb;
  }

  .baseRight{
    float: right;
   width: auto;
   margin: 6px 0 0 6px;
  }

  .baseLeft{
    width: auto;
    float: left;
  
  }
 .list-unstyled  .nameChat {margin: 20px 0px 0px 5px; width: 40px;}
 
.msgRight{
  float: right;

}

.baseRight p:last-child {border-radius:10px 0px 10px 10px !important }


#userShow{
  
        border-radius: 21px;
    height: 82vh;

}


/*change color for chat user all users as uniqe color*/

.list-unstyled .messageLI:nth-child(1) .nameChat:first-letter { background:#ff8000;}
.list-unstyled .messageLI:nth-child(2) .nameChat:first-letter { background:#ffbf00;}
.list-unstyled .messageLI:nth-child(3) .nameChat:first-letter { background:#ffff00;}
.list-unstyled .messageLI:nth-child(4) .nameChat:first-letter { background:#bfff00;}
.list-unstyled .messageLI:nth-child(5) .nameChat:first-letter { background:#80ff00;}
.list-unstyled .messageLI:nth-child(6) .nameChat:first-letter { background:#40ff00;}
.list-unstyled .messageLI:nth-child(7) .nameChat:first-letter { background:#00ff00;}
.list-unstyled .messageLI:nth-child(8) .nameChat:first-letter { background:#00ff40;}
.list-unstyled .messageLI:nth-child(9) .nameChat:first-letter { background:#00ff80;}
.list-unstyled .messageLI:nth-child(10) .nameChat:first-letter { background:#00ffbf;}
.list-unstyled .messageLI:nth-child(11) .nameChat:first-letter { background:#00ffff;}
.list-unstyled .messageLI:nth-child(12) .nameChat:first-letter { background:#00bfff;}
.list-unstyled .messageLI:nth-child(13) .nameChat:first-letter { background:#0080ff;}
.list-unstyled .messageLI:nth-child(14) .nameChat:first-letter { background:#0040ff;}
.list-unstyled .messageLI:nth-child(15) .nameChat:first-letter { background:#0000ff;}
.list-unstyled .messageLI:nth-child(16) .nameChat:first-letter { background:#4000ff;}
.list-unstyled .messageLI:nth-child(17) .nameChat:first-letter { background:#8000ff;}
.list-unstyled .messageLI:nth-child(18) .nameChat:first-letter { background:#bf00ff;}
.list-unstyled .messageLI:nth-child(19) .nameChat:first-letter { background:#ff00ff;}
.list-unstyled .messageLI:nth-child(20) .nameChat:first-letter { background:#ff00bf;}
.list-unstyled .messageLI:nth-child(21) .nameChat:first-letter { background:#ff0080;}
.list-unstyled .messageLI:nth-child(22) .nameChat:first-letter { background:#ff0040;}
.list-unstyled .messageLI:nth-child(23) .nameChat:first-letter { background:#ff0000;}

