<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
       
        <link href="/css/custome.css" rel="stylesheet" >
        <!------ Include the above in your HEAD tag ---------->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
        
        <title>This is Facon Chat app </title>
    </head>
    <body>
      
        <div class="main_section">
           <div class="">
              <div class="chat_container">
                 <div class="col-sm-3 chat_sidebar">
                 <div class="row">
                    <div id="custom-search-input">
                       <div class="input-group col-md-12">
                        <!------<input type="text" class="  search-query form-control" placeholder="Conversation" />
                          <button class="btn btn-danger" type="button">
                          <span class=" glyphicon glyphicon-search"></span>
                          </button>
                         <select id="allEmployee" class="form-control" multiple>
                        <option value="" >Select Employee</option>
                        <option value="11">saad</option>
                        <option value="22">usman</option>
                        <option value="33">shamaoon</option>
                        <option value="44">taimoor</option>
                        <option value="55">aqeel</option>
                        <option value="66">wajahat</option>
                        <option value="77">zain</option>
                        <option value="88">moin</option>
                        <option value="99">maqsood</option>
                        <option value="100">saif</option>
                        <option value="111">shabaz</option>
                         </select>----->
                       </div>
                    </div>
                    <div class="dropdown all_conversation">
                       <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-weixin" aria-hidden="true"></i>
                       #Orders       
                       <strong class="primary-font"></strong> <span class="badge pull-right list_count">0</span>
                       </button>
                        
                       <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <li><a href="#"> All Conversation </a>  <ul class="sub_menu_ list-unstyled">
                          <li><a href="#"> All Conversation </a> </li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li><a href="#">Separated link</a></li>
                       </ul>
                       </li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li><a href="#">Separated link</a></li>
                       </ul> -->
                    </div>
            <div class="member_list">
                       <ul class="list-unstyled member_name">
                        
                       </ul>
                    </div></div>
                 </div>
                 <!--chat_sidebar-->
                 
                 
                 <div class="col-sm-7 message_section"  >
                 <div class="row">
                  

                 <div class="new_message_head">
                 <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> Order# <%= orderId %></button>

                 </div>
                 
                
                 <div class="pull-right">
                <h4 style="text-align:center"></h4>
                 <div class="dropdown">
                 

          <!-- <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cogs" aria-hidden="true"></i>  Setting
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
          </ul> -->
        </div></div>
                 </div><!--new_message_head-->
                 
                 <div class="chat_area" >
                 <ul class="list-unstyled user_chat_area">
                <!--  <li class="left clearfix admin_chat">
                             <span class="chat-img1 pull-left">
                             <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                             </span>
                             <div class="chat-body1 clearfix">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                                <div class="chat_time pull-right">09:40PM</div>
                             </div>
                          </li> -->
                           
                 
                 </ul>
                 
                 </div><!--chat_area-->
                  <div class="message_write">
                

                 <textarea id="user_msg" class="form-control" placeholder="type a message" ></textarea>

                 <input type="hidden" value=<%= userId %> id="userId">
                 <input type="hidden" value=<%= orderId %> id="orderId">
                 <input type="hidden" value=<%= userName %> id="userName"> 
                 <div class="clearfix"></div>
                 <div class="chat_bottom">
                  <!-- <a href="#" class="pull-left upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i> -->
         <!-- Add Files</a> -->

         <!-- <a href="#" id="" class="">Send</a> -->
             <button type="button" id="user_msg_btn" class="pull-right btn btn-success">Send</button>
            
                 </div> 
                 </div>
                 </div>
                 </div> <!--message_section-->
                   <fieldset    style="
    width: 16%;
    text-align: center;
    padding: 3px;
">
  <legend>Employee</legend>
                 <div class='col-sm-2' style="width: 100%;">
                   <select id="userShow"  name='employee' class='form-control' multiple></select>
                   </div>
                   </fieldset>
              </div>
           </div>
        </div>
        <script>


        </script>
        <script src="../../../socket.io/socket.io.js"></script>
        <script src="../../../js/client.js"></script>
        
    </body>
    </html>
      
</body>
</html>




